<ion-header></ion-header>

<ion-content fullscreen="true">
  <div class="stopwatch">
    <ion-grid>
      <!-- timer -->
      <ion-row>
        <ion-col >         
        </ion-col>
      </ion-row>
      <ion-row class="timer-row">
        <ion-col offset="2" size="7">
          <h1 class="timer">
            {{time}}
          </h1>
        </ion-col>
        <ion-col size="3">
          <ion-button (click)="reset()" color="light" fill="outline" class="reset-btn" expand="block" size="small">{{ 'reset' | translate }}</ion-button>
        </ion-col>
      </ion-row>
    
      <!-- start/stop timer button -->
      <ion-row class="timer-btn">
        <ion-col class="edit-btn" size="2" offset="1">
          <ion-button class="wrench" shape="circle" color="light" icon-only (click)="navigate()">
            <ion-avatar color="bic">
              <ion-icon name="build" color="bic"></ion-icon>
            </ion-avatar>
          </ion-button>
        </ion-col>
        <ion-col class="start-stop" size="8" offset="1" *ngIf="!running ">
          <ion-button (click)="start()" color="light" fill="outline" class="footer-btn" expand="block" size="small">{{ 'start timer' | translate }}</ion-button>
        </ion-col>
        <ion-col class="start-stop" size="8" offset="1"  *ngIf="running">
          <ion-button (click)="stop()" color="light" fill="outline" class="footer-btn" expand="block" size="small">{{ 'stop timer' | translate }}</ion-button>
        </ion-col>
      </ion-row>
      </ion-grid>
  </div>
      
  <div>
    <!-- ** edit card to be proper shape -->
    <ion-card size="full">
      <ion-card-header>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="../../assets/img/chest.png">
          </ion-thumbnail>
            <ion-card-title>Chest 1</ion-card-title>
        </ion-item>
        <ion-card-subtitle>Chest-Hypertrophic-Barbell/Dumbbell</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
