// ion-col {
//     border: 1px solid black;
// }
.timer-btn{
    padding-top: 5px;
}
.reset-btn{
    position:relative;
    top: 16px;
}
.wrench {
    position:relative;
    top: 24px;
    left: 4px;
}
.timer{
    text-align: center;
}