<!-- login page -->
<ion-content>
  <div class="flex-center">
    <ion-img src="../../assets/img/bic.jpg"></ion-img>
    <ion-card>
      <ion-card-content >
        
          <ion-item class="form-group">
            <ion-label position="floating">Username</ion-label>
            <ion-input type="text" class="form-control" [(ngModel)]="user.username" required></ion-input>
          </ion-item>
          <ion-item class="form-group">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" class="form-control" [(ngModel)]="user.password" required></ion-input>
          </ion-item>
          <ion-button color="bic" size="block" (click)="loginUser()" [disabled]="!user.username || !user.password">Login</ion-button> 
        
        <ion-button fill="outline" color="bic" size="block" [routerLink]="['/register']" >Register</ion-button>
        <ion-button color="dark" fill="clear" size="full">Forgot email/password?</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>