<!-- login page -->
<ion-content>
  <div class="flex-center">
    <ion-img src="../../assets/img/bic.jpg"></ion-img>
    <ion-card>

      <ion-card-content>
        <form class="form-signin" [formGroup]="signinForm" (ngSubmit)="loginUser()">
          <ion-item class="form-group">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" class="form-control" formControlName="email" required></ion-input>
          </ion-item>
          <ion-item class="form-group">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" class="form-control" formControlName="password" required></ion-input>
          </ion-item>
          <ion-button color="bic" size="block">Login</ion-button> 
        </form>
        <ion-button fill="outline" color="bic" size="block" [routerLink]="['/register']" >Register</ion-button>
        <ion-button color="dark" fill="clear" size="full">Forgot email/password?</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>