<ion-content>
  <!-- this applies the global .flex-center class that is defined in "global.scss" -->
  <div class="flex-center">
    <ion-img src="../../assets/img/bic.jpg"></ion-img>
    <ion-card>

      <ion-card-content>
        <form class="form-signin" [formGroup]="signupForm" (ngSubmit)="registerUser()">
        <ion-item >
          <ion-label position="floating"  >Username</ion-label>
          <ion-input type="test" required class="form-control" formControlName="username" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" class="form-control" formControlName="email" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" class="form-control" formControlName="password" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input type="password" required></ion-input>
        </ion-item>
        <ion-button type="submit" color="bic" size="block" [disabled]="username === '' || email === '' || password === ''">Register</ion-button>
      </form>
      </ion-card-content>
    
    </ion-card>
  </div>
</ion-content>
