.backdrop{
    background-color: white;
}
.selector{
    border-bottom: 2px solid var(--ion-color-bic);
}
.workout-add{
    position: relative;
    top: 6px;
}
ion-list{
    border-radius: 20px;
}
.no-list{
    color:var(--ion-color-bic);
    display: flex;
    justify-content: center;
    ion-icon{
        color: gray;
        font-size: 24px;
    }
}