<ion-header></ion-header>
<ion-content fullscreen="true">
  <div>
    <ion-button (click)="consoleArray()">console array</ion-button>
  </div>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="8" offset="2">
          <ion-button class="workout-add" expand="block" color="light" fill="solid" size="small" [routerLink]="['/workout-list']">+ Add Workout</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div>
    <ion-card size="full">
      <ion-card-content>
        <ion-list *ngFor="let workout of routineWorkouts">       
          <ion-item>
            <ion-label>{{ workout.name }}</ion-label>
            
          </ion-item>
          <ion-item class="selector">
            <ion-select required placeholder="Sets" [(ngModel)]="selectedSet" (ionChange)="compareWith()">
              <ion-select-option *ngFor="let set of sets" [value]="set">{{set}} sets</ion-select-option>
            </ion-select>
            <ion-select required slot="end" placeholder="Reps">
              <ion-select-option *ngFor="let rep of reps" [value]="rep">{{rep}} reps</ion-select-option>
            </ion-select>
          </ion-item>
          
        </ion-list>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
<!-- ** create modal for more options -->
<ion-footer class="ion-no-border" slot="fixed">
    <ion-button color="light" fill="outline" class="footer-btn" expand="block" size="small" (click)="initModal()">Create Routine</ion-button>
    
</ion-footer>
