<!-- toolbar -->
<ion-header>
  <ion-toolbar>
    <!-- menu button -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <!-- banner -->
    <img id="banner" src="../../assets/img/fight-on.png">
    <!-- avatar button add ion-popover -->
    <ion-button slot="end" shape="circle" fill="clear" color="bic" icon-only>
      <ion-avatar>
        <ion-icon src="../../assets/custom-ion-icons/mob.svg" size="large"></ion-icon>
      </ion-avatar>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="8" offset="2">
          <ion-button expand="block" color="light" fill="solid" size="small">+ Add Workout</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
<!-- Need to create a housing div for added workouts that will infinitely scroll -->
  <div>
    <!-- ** edit card to be proper shape -->
    <ion-card size="full">
      <ion-card-header>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="../../assets/img/chest.png">
          </ion-thumbnail>
            <ion-card-title>Chest 1</ion-card-title>
        </ion-item>
        <ion-card-subtitle>Chest-Hypertrophic-Barbell/Dumbbell</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>

      </ion-card-content>
    </ion-card>

  </div>
  <ion-infinite-scroll threshold="150px">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data…">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<!-- ** create modal for more options -->
<ion-footer class="ion-no-border" slot="fixed">
    <ion-button color="light" fill="outline" class="footer-btn" expand="block" size="small">Create Routine</ion-button>
</ion-footer>
