<ion-header></ion-header>
<ion-content fullscreen="true">
  <!-- <div>
    <ion-button (click)="consoleArray()">console array</ion-button>
  </div> -->
  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="8" offset="2">
          <ion-button class="workout-add" expand="block" color="light" fill="outline" size="large" [routerLink]="['/workout-list']">+ Add Workout</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div>
    <ion-card size="full">
      <ion-card-header class="no-list" *ngIf="routineWorkouts.length === 0" [routerLink]="['/workout-list']">
        <ion-icon name="barbell-outline"></ion-icon>
          <div>Add Workouts to Begin</div>
        <ion-icon name="barbell-outline"></ion-icon>
      </ion-card-header>
      <ion-card-header *ngIf="routineWorkouts.length > 0">
        <a><ion-icon name="close-outline" size="large" color="bic" (click)="uncheckAll()"></ion-icon></a>
      </ion-card-header>
      <ion-card-content>
        <ion-list *ngFor="let workout of routineWorkouts; let i = index; trackBy: trackByFn">       
          <ion-item>
            <ion-label>{{ workout.routineWorkout_name }}</ion-label>
          </ion-item>
          <ion-item class="selector">
            <ion-select required placeholder="Sets" [(ngModel)]="routineWorkouts[i].sets">
              <ion-select-option *ngFor="let set of sets"  [value]="set">{{set}} sets</ion-select-option>
            </ion-select>
            <ion-select required slot="end" placeholder="Reps" [(ngModel)]="routineWorkouts[i].reps">
              <ion-select-option *ngFor="let rep of reps" [value]="rep">{{rep}} reps</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-grid>
            <ion-row lines="none" class="warning-notes">
              <ion-col>
                <ion-note color="danger" *ngIf="routineWorkouts[i].sets === 0">Please select Sets!</ion-note>
              </ion-col>
              <ion-col>
                <ion-note color="danger" *ngIf="routineWorkouts[i].reps === 0">Please select Reps!</ion-note>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-card size="full" class="routine-details" *ngIf="routineWorkouts.length > 0">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col class="segment-label" size="6" offset="3">
            Select Muscle Group
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>
            <ion-segment scrollable value="abs" color="bic" name="muscle" [(ngModel)]="newRoutine.muscle_group">
              <ion-segment-button value="abs">
                <ion-icon src="../../assets/custom-ion-icons/abs.svg" class="segment-icon"></ion-icon>
                <ion-label>Abs</ion-label>
              </ion-segment-button>
              <ion-segment-button value="arms">
                <ion-icon src="../../assets/custom-ion-icons/arms.svg" ></ion-icon>
                <ion-label>Arms</ion-label>
              </ion-segment-button>
              <ion-segment-button value="back">
                <ion-icon src="../../assets/custom-ion-icons/back.svg" ></ion-icon>
                <ion-label>Back</ion-label>
              </ion-segment-button>
              <ion-segment-button value="chest">
                <ion-icon src="../../assets/custom-ion-icons/chest.svg" ></ion-icon>
                <ion-label>Chest</ion-label>
              </ion-segment-button>
              <ion-segment-button value="legs">
                <ion-icon src="../../assets/custom-ion-icons/legs.svg" ></ion-icon>
                <ion-label>Legs</ion-label>
              </ion-segment-button>
              <ion-segment-button value="shoulders">
                <ion-icon src="../../assets/custom-ion-icons/shoulders.svg" ></ion-icon>
                <ion-label>Shoulders</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-col>
        </ion-row>
      </ion-grid>
    
      <ion-item class="form-group">
        <ion-label position="floating">Routine Name:</ion-label>
        <ion-input type="text" name="name" [(ngModel)]="newRoutine.routine_name" required></ion-input>
      </ion-item>
      <ion-item class="form-group">
        <ion-label position="floating">Routine Description:</ion-label>
        <ion-textarea rows="2" cols="12" maxlength="214" type="text" name="detail" [(ngModel)]="newRoutine.subtitle" required></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer class="ion-no-border" slot="fixed">
    <ion-button color="light" fill="outline" class="footer-btn" expand="block" size="small" (click)="createRoutine()" [disabled]="!newRoutine.routine_name || !newRoutine.muscle_group">Create Routine</ion-button>
    
</ion-footer>
