<ion-header>
</ion-header>

<ion-content fullscreen="true">
  <div>
    <ion-searchbar placeholder="Search..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
    <ion-list class="accordion-list">
      <ion-card size="full" >
        <ion-card-header> 
          <ion-item class="workout-title">            
            <ion-card-title> Workouts</ion-card-title>
            <a slot="end"><ion-icon name="close-outline" size="large" color="bic" *ngIf="checkedItems.length > 0" (click)="uncheckAll()"></ion-icon></a>
          </ion-item>
        </ion-card-header>
         <ion-card-content>
          <ion-list *ngFor="let workout of workoutList | filter:filterTerm | orderBy:'asc':'muscle_group';" class="workout-list" >
      
            <ion-item>
              <ion-label>{{workout.workout_name}}</ion-label>
              <ion-note>{{workout.muscle_group}}</ion-note>
              <ion-checkbox slot="end" color="bic" [(ngModel)]="workout.isSelected" (ionChange)="onChange(workout)"></ion-checkbox>
            </ion-item>
      
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
</ion-content>
<ion-footer class="ion-no-border" slot="fixed">
  <ion-button color="bic" class="footer-btn" expand="block" size="small" *ngIf="checkedItems.length > 0" (click)="createRoutine()">+ Add Selected to Routine</ion-button>
</ion-footer>
