<ion-header>
  <a (click)="close()">
    <ion-icon class="icon" name="filter-outline" size="large"></ion-icon>
  </a>
</ion-header>


<ion-content>
  <div>
    <ion-button (click)="consoleArray()">console</ion-button>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col class="segment-label" size="6" offset="3">
        Select Muscle Group
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-segment scrollable value="abs" (ionChange)="segmentChanged($event)" color="bic" name="muscle" [(ngModel)]="newRoutine.muscle_group">
          <ion-segment-button value="abs">
            <ion-icon src="../../assets/custom-ion-icons/abs.svg" class="segment-icon"></ion-icon>
            <ion-label>Abs</ion-label>
          </ion-segment-button>
          <ion-segment-button value="arms">
            <ion-icon src="../../assets/custom-ion-icons/arms.svg" ></ion-icon>
            <ion-label>Arms</ion-label>
          </ion-segment-button>
          <ion-segment-button value="back">
            <ion-icon src="../../assets/custom-ion-icons/back.svg" ></ion-icon>
            <ion-label>Back</ion-label>
          </ion-segment-button>
          <ion-segment-button value="chest">
            <ion-icon src="../../assets/custom-ion-icons/chest.svg" ></ion-icon>
            <ion-label>Chest</ion-label>
          </ion-segment-button>
          <ion-segment-button value="legs">
            <ion-icon src="../../assets/custom-ion-icons/legs.svg" ></ion-icon>
            <ion-label>Legs</ion-label>
          </ion-segment-button>
          <ion-segment-button value="shoulders">
            <ion-icon src="../../assets/custom-ion-icons/shoulders.svg" ></ion-icon>
            <ion-label>Shoulders</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>
 
    <ion-item class="form-group">
      <ion-label position="floating">Routine Name:</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="newRoutine.routine_name" required></ion-input>
    </ion-item>
    <ion-item class="form-group">
      <ion-label position="floating">Routine Description:</ion-label>
      <ion-textarea rows="2" cols="12" maxlength="214" type="text" name="detail" [(ngModel)]="newRoutine.subtitle" required></ion-textarea>
    </ion-item>
    <ion-button color="light" fill="outline" class="footer-btn" expand="block" size="small" (click)="createRoutine()">Finalize</ion-button>
  
</ion-content>

