/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.flex-center {
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100%;
}
// 
// global toolbar styling
// 
ion-content {
    --background: var(--ion-color-bic);
}

#banner {
    display: flex;
    justify-content: center;
    margin: 0px;
    object-fit: cover;
    object-position: 46% 0%;
    width: 100%;
    height: 46px;
}
ion-avatar{
    display:flex;
    justify-content: center;
    align-items: center;
}
ion-button[shape=circle] {
    --border-radius: 50%;
    --border-width: .05em;
    width: 36px;
    height: 40px;
    padding: 0 2px 2px 0;
}
ion-header {
    height:7.5%;
}
ion-toolbar {
    height: 100%;
}

ion-modal.routine-settings {
    .modal-wrapper {
        --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.32);
    position: absolute;
    top: 40%;
    height: 60%;
   padding: 25% 15%  !important;
   display: block;
   border-radius: 20px 20px 0 0;
    }
    
}